* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 2;
  background: #fff;
  height: 100vh;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

.header nav ul a {
  text-decoration: none;
  color: Black;
  padding: 0.75em 2em;
  display: block;
}

.header nav ul a:hover {
  color: white;
  background: #f12f2f;
}

.header nav .close-menu {
  float: right;
  margin-right: 2em;
  margin-top: 1.5em;
  width: 2.5em;
}

.header nav .close-menu path {
  fill: #f12f2f;
}

.header input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
}

.header input:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.header input:checked ~ label:berofe {
  content: '\f00d';
}

.header svg {
  cursor: pointer;
  width: 2em;
}

.logo {
  cursor: pointer;
}

.logo a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.logo a span {
  color: #e7e434;
  font-weight: 700;
}

.hero {
  color: white;
}

.hero .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/shoes-hero.jpg);
  background-size: cover;
  background-position: 20% 20%;
  width: 100%;
  height: 100vh;
  z-index: -100;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.hero .descrition-hero {
  height: 80vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.hero .descrition-hero h1 {
  font-size: 3rem;
  line-height: 1em;
  margin-top: 1em;
}

.hero .descrition-hero p {
  font-size: 1.3rem;
  margin-top: .6em;
}

.hero .descrition-hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 0;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero .descrition-hero .down-arrow path {
  fill: white;
}

/*Media queries*/
@media (min-width: 42.5em) {
  body {
    margin: 1.5em 5em;
    font-family: 'Ponppins', sans-serif;
  }
}

@media (min-width: 57.5em) {
  .logo a {
    color: black;
  }
  .logo a span {
    color: red;
  }
  .header .icon-svg-menu {
    display: none;
  }
  .header nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    height: auto;
    width: auto;
    background: none;
  }
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header nav ul a {
    color: white;
    font-size: 0.9rem;
    padding: .6em 1.5em;
  }
  .header nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .header nav svg {
    display: none;
  }
  .hero .hero-image {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .hero .descrition-hero {
    height: auto;
    width: 40%;
    color: black;
  }
  .hero .descrition-hero .down-arrow {
    stroke: black;
    position: unset;
    margin-top: 3.4em;
  }
  .hero .descrition-hero .down-arrow path {
    fill: black;
  }
}

@media (min-width: 75em) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .hero .descrition-hero h1 {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=main.css.map */