* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  line-height: 1.6;
}

.spacePadding {
  padding: 7em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125em;
  color: var(--clr-text, #fff);
  text-transform: uppercase;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border: .25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in, opacity 250ms linear;
  transition: transform 250ms ease-in, opacity 250ms linear, -webkit-transform 250ms ease-in;
}

.btn:hover, .btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 2;
  background: #fff;
  height: 100vh;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

.header nav ul a {
  text-decoration: none;
  color: #17353d;
  padding: 0.75em 2em;
  display: block;
}

.header nav ul a:hover {
  color: white;
  background: #f12f2f;
}

.header nav .close-menu {
  float: right;
  margin-right: 2em;
  margin-top: 1.5em;
  width: 2.5em;
}

.header nav .close-menu path {
  fill: #f12f2f;
}

.header input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
}

.header input:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.header input:checked ~ label:berofe {
  content: '\f00d';
}

.header svg {
  cursor: pointer;
  width: 2em;
}

.logo {
  cursor: pointer;
}

.logo a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.logo a span {
  color: #17353d;
  font-weight: 700;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

.hero {
  color: white;
}

.hero .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/shoes-hero.jpg);
  background-size: cover;
  background-position: 20% 20%;
  width: 100%;
  height: 100vh;
  z-index: -100;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.hero .descrition-hero {
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.hero .descrition-hero h1 {
  font-size: 3rem;
  line-height: 1em;
  margin-top: 1em;
}

.hero .descrition-hero p {
  font-size: 1.3rem;
  margin-top: .6em;
}

.hero .descrition-hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 2em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero .descrition-hero .down-arrow path {
  fill: white;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 1.5em;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 11em;
}

.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured__item .featured__detail {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured__item .featured__detail span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.featured__item .detailcorection {
  margin-top: 1.2em;
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:hover .featured__detail, .featured__item:focus .featured__detail {
  opacity: 1;
  text-shadow: 0 0 2em white;
}

.featured__item::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  background: #2193b0;
  border-radius: 50%;
  z-index: -1;
}

.product {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  padding: 3em;
  margin-bottom: 5em;
  border-radius: 1em;
  text-align: center;
}

.product__title {
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.product__img {
  margin: -5em 0 0 0;
}

@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 15em;
    padding: 4em 3em;
  }
  .product__title {
    margin: 0;
  }
  .product__img {
    float: right;
    width: 50%;
    shape-outside: url(../images/shoe-product-1.png);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.shoe-left {
    text-align: right;
  }
  .product.shoe-left .product__img {
    float: left;
    shape-outside: url(../images/shoe-product-2.png);
    shape-margin: 1em;
    margin: 0 0 0 -5em;
  }
}

.shoeColor1 {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoeColor2 {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoeColor3 {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

/*Media queries*/
@media (min-width: 42.5em) {
  body {
    margin: 1.5em 5em;
    font-family: 'Ponppins', sans-serif;
  }
}

@media (min-width: 57.5em) {
  .logo a {
    color: #17353d;
  }
  .logo a span {
    color: red;
  }
  .header .icon-svg-menu {
    display: none;
  }
  .header nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    height: auto;
    width: auto;
    background: none;
  }
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header nav ul a {
    color: white;
    font-size: 0.9rem;
    padding: .6em 1.5em;
  }
  .header nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .header nav svg {
    display: none;
  }
  .hero .hero-image {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .hero .descrition-hero {
    height: 42em;
    width: 40%;
    color: #17353d;
  }
  .hero .descrition-hero .down-arrow {
    stroke: #17353d;
    position: unset;
    margin-top: 3.4em;
  }
  .hero .descrition-hero .down-arrow path {
    fill: #17353d;
  }
}

@media (min-width: 75em) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .hero .descrition-hero h1 {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=main.css.map */