* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.header {
    display: flex;
    justify-content: space-between;
    nav {
        display: none;
    }
    svg {
        cursor: pointer;
        width: 2em;
    }
}

.logo {
    cursor: pointer;
    a{
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        
        span {
            color: rgb(231, 228, 52);
            font-weight: 700;
        }
        
    }
}
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/shoes-hero.jpg);
    background-size: cover;
    background-position: 20% 20%;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.hero {
    color: white;
    h1{
        font-size: 3rem;
        line-height: 1em;
        margin-top: 2em;
    }
    p{
        font-size: 1.3rem;
        margin-top: 1em;
    }
    .down-arrow{
        stroke: white;
        position: absolute;
        bottom: 2em;
        width: 1em;

        path{
            fill: white;
        }
    }
}

