* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.header {
    display: flex;
    justify-content: space-between;
    nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 2;
        background: #fff;
        height: 100vh;
        text-transform: uppercase;
        transform: translateX(100%);
        transition: .2s ease;
        ul{
            list-style: none;
            padding: 0;
            margin-top: 8em;
            a{
                text-decoration: none;
                color: Black;
                padding: 0.75em 2em;
                display: block; 
                &:hover {
                    color: white;
                    background: rgb(241, 47, 47);
                }
                                 
            }
        }
        
        .close-menu {
            float: right;
            margin-right: 2em;
            margin-top: 1.5em;
            width: 2.5em ;
            path {
                fill: rgb(241, 47, 47);
            }
        }
    }
    //tratando o  menu mobile 
    input {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        opacity: 0;
        &:checked ~ nav {
            transform: translateX(0);
            opacity: 1;
        }
        &:checked ~ label:berofe {
            content: '\f00d';
        }
        
    }
    
    svg {
        cursor: pointer;
        width: 2em;
    }
    
}

.logo {
    cursor: pointer;
    a{
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        
        span {
            color: rgb(231, 228, 52);
            font-weight: 700;
        }
        
    }
}
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/shoes-hero.jpg);
    background-size: cover;
    background-position: 20% 20%;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.hero {
    color: white;
    h1{
        font-size: 3rem;
        line-height: 1em;
        margin-top: 2em;
    }
    p{
        font-size: 1.3rem;
        margin-top: 1em;
    }
    .down-arrow{
        stroke: white;
        position: absolute;
        bottom: 2em;
        width: 1em;

        path{
            fill: white;
        }
    }
}



